@model server.Models.Question

@{
    ViewData["Title"] = "Create";
}

<style>
    h1 {color: #FFFFFF; margin-left:32px; margin-top:138px}
    h4 {color: #FFFFFF; margin-left:32px;}
    back {margin-left:32px}
    card {margin-left:32px}
</style>
    <div class="col-md-12 body">
        <br />
        <h1>@ViewData["Title"]</h1>
        <h4>Question</h4>
    </div>
<hr/>
<card class = "col-md-8 card" style="background:#F4F4F4;">
    <br />
<div class="row" align="left">
    <div class="col-md-11" style= "margin-left:32px">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="QuestionText" class="control-label"></label>
                <input asp-for="QuestionText" class="form-control"/>
                <span asp-validation-for="QuestionText" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Position" class="control-label"></label>
                <input asp-for="Position" class="form-control"/>
                <span asp-validation-for="Position" class="text-danger"></span>
            </div>
            <input asp-for="CourseSectionId" type="hidden" value="@ViewData["CourseSectionId"]"/>
            <br />
            <div class="form-group" align="right">
                <input type="submit" value="Create" class="btn btn-primary"style="background:#643385;"/>
            </div>
            <br />
        </form>
    </div>
</div>
</card>

<back>
    <a asp-action="Index">Back to List</a>
</back>