<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet"
          href="https://1.www.s81c.com/common/carbon-for-ibm-dotcom/tag/v1/canary/plex.css"/>
    <link rel="stylesheet"
          href="https://1.www.s81c.com/common/carbon-for-ibm-dotcom/tag/v1/canary/grid.css"/>
    <script type="module" src="https://1.www.s81c.com/common/carbon/web-components/tag/latest/ui-shell.min.js"></script>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - server</title>
    <style>
        bx-header {
           --cds-background: red;
        }
        bx-header ~ bx-side-nav {
    margin-top: 3rem;
    height: calc(100% - 3rem);
}
    </style>
</head>
<body>
<bx-header>
    <bx-header-menu-button></bx-header-menu-button>
    <bx-header-name href="/" prefix="IEPAM">Knowledge to Go</bx-header-name>
    <bx-header-nav>
        <partial name="_LoginPartialFull"/>
    </bx-header-nav>
</bx-header>
<bx-side-nav usage-mode="header-nav">
    <partial name="_LoginPartialSide"/>
</bx-side-nav >
<div class="bx--grid">
    <div class="bx--row">
        <div class="bx--col-sm-4 bx--col-lg-12" style="margin: 4rem 0;">
            @RenderBody()

        </div>
    </div>
</div>

@RenderSection("Scripts", required: false)
</body>

</html>