@model server.Models.CourseSectionScore

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>CourseSectionScore</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CourseSectionScoreID" />
            <div class="form-group">
                <label asp-for="AnswerTime" class="control-label"></label>
                <input asp-for="AnswerTime" class="form-control" />
                <span asp-validation-for="AnswerTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdentityUserID" class="control-label"></label>
                <select asp-for="IdentityUserID" class="form-control" asp-items="ViewBag.IdentityUserID"></select>
                <span asp-validation-for="IdentityUserID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CourseSectionID" class="control-label"></label>
                <select asp-for="CourseSectionID" class="form-control" asp-items="ViewBag.CourseSectionID"></select>
                <span asp-validation-for="CourseSectionID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CourseID" class="control-label"></label>
                <select asp-for="CourseID" class="form-control" asp-items="ViewBag.CourseID"></select>
                <span asp-validation-for="CourseID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Score" class="control-label"></label>
                <input asp-for="Score" class="form-control" />
                <span asp-validation-for="Score" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

