@model server.Models.Answer

@{
    ViewData["Title"] = "Create";
}
<div class="header-background">
    <div class="container-md align-items-end mb-2 h-100 d-flex">
        <div class="row">
            <div class="col">
                <h1 class="display-3" style="color: white"> Crear Respuesta</h1>
            </div>
        </div>
        <div class="row">

        </div>
    </div>
</div>
<div class="container-md">
    <div class="row mt-4">
        <div class="col">
            <a class="btn btn-primary" style="background:#643385;" asp-action="Edit" asp-controller="Question" asp-route-id="@ViewData["QuestionID"]">Regresar</a>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label class="control-label">Respuesta</label>
                    <input asp-for="Text" class="form-control"/>
                    <span asp-validation-for="Text" class="text-danger"></span>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="Correct"/> <p>Respuesta es correcta</p>
                    </label>
                </div>
                <input asp-for="QuestionID" type="hidden" asp-items="ViewBag.QuestionID" value="@ViewData["QuestionID"]"/>
                <div class="form-group">
                    <input type="submit" value="Crear" class="btn btn-primary"style="background:#643385;"/>
                </div>
                <br/>
            </form>
        </div>
    </div>

</div>