@model server.Models.Answer

@{
    ViewData["Title"] = "Create";
}
<style>
    h1 {color: #FFFFFF; margin-left:32px; margin-top:138px}
    h4 {color: #FFFFFF; margin-left:32px;}
    back {margin-left:32px}
    card {margin-left:32px}
</style>
    <div class="col-md-12 body">
        <br />
        <h1>@ViewData["Title"]</h1>
        <h4>Answer</h4>
    </div>
    <br />
<card class = "col-md-8 card" style="background:#F4F4F4;">
     <br />
<div class="row" align="left">
    <div class="col-md-11" style= "margin-left:32px">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Text" class="control-label"></label>
                <input asp-for="Text" class="form-control"/>
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Correct"/> @Html.DisplayNameFor(model => model.Correct)
                </label>
            </div>
            <input asp-for="QuestionID" type="hidden" asp-items="ViewBag.QuestionID" value="@ViewData["QuestionID"]"/>
            <div class="form-group" align="right">
                <input type="submit" value="Create" class="btn btn-primary"style="background:#643385;"/>
            </div>
            <br />
        </form>
    </div>
</div>
</card>

<back>
    <a asp-action="Index">Back to List</a>
</back>