@page
@model LoginModel
@{
    ViewData["Title"] = "Log in";
}

<div class="body container-fluid">
    <div class="row justify-content-center">
         <div class="col-md-4 login">
            <section align= "left">
                <h1>@ViewData["Title"]</h1>>
                <form id="account" method="post">
                <h2>Inicia sesion para continuar</h2>
                <hr/>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating">
                    <input asp-for="Input.Email"  class="form-control" autocomplete="username" aria-required="true"/>
                    <label  asp-for="Input.Email" class="form-label"></label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <br/>
                <div class="form-floating">
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true"/>
                    <label asp-for="Input.Password" class="form-label"></label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div>
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe" class="form-label">
                            <input class="form-check-input" asp-for="Input.RememberMe"/>
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <br />
                <div>
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Iniciar sesion</button>
                </div>
                <br />
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Olvidaste tu contraseña?</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Registro de usuario</a>
                    </p>
                    <p>
                        <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Volver a mandar confirmacion de correo</a>
                    </p>
                </form>
            </section>
        </div>
    </div>
</div>




@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}