@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <img class="img-fluid mb-4" style="width: 100%" src="https://picsum.photos/720/300" alt="random test image">
</div>
<div class="row align-items-lg-start">
    <div class="col-8" data-spy="scroll" data-target="#contents" data-offset="0">
        <h1 class="h1" id="1">Titulo del curso</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vel venenatis magna. Vestibulum
            hendrerit, neque in sagittis dictum, sem diam efficitur velit, eget ornare risus odio ut velit. Sed vel
            eros venenatis, suscipit dolor eget, dapibus dolor. Praesent sollicitudin volutpat velit sit amet condimentum.
        </p>
        <h3 class="h2" id="2">Aliquam erat volutpat</h3>
        <p>
            Aliquam erat volutpat. Sed ultricies iaculis lectus nec ullamcorper. Suspendisse ultrices cursus tellus, et ultricies orci imperdiet viverra. Integer vehicula egestas rutrum. Nam molestie posuere turpis et dictum. Duis erat lorem, auctor eu sem sit amet, ultricies congue tortor. Nunc in consectetur ante. Aenean mollis dolor faucibus posuere finibus. Etiam enim turpis, fermentum non vulputate et, consectetur in dolor. Donec ultrices consequat eleifend.
        </p>
        <h3 class="h2" id="3">Nuram euismod urna nisl</h3>
        <p>
            Nullam euismod urna nisl, at laoreet leo vulputate quis. Aliquam hendrerit vehicula sodales. Etiam tempor auctor fringilla. Donec at metus justo. Vestibulum tincidunt tincidunt massa eu consectetur. Nulla a consequat purus, quis consequat nulla. Maecenas eleifend diam vitae lacus pretium efficitur. Sed facilisis gravida nulla, vel finibus nulla auctor ac. Duis tincidunt ipsum vitae sapien consequat sodales. Sed consectetur ante quis dui volutpat, vel blandit neque rhoncus. Nullam nec porttitor enim. Pellentesque interdum in erat vel ullamcorper. Morbi finibus, velit eget pretium ornare, lacus nisl tempus enim, a rutrum tellus lacus non leo. Suspendisse eros purus, pellentesque ac mauris eget, vehicula pulvinar quam. Donec tempor luctus dapibus. Nulla sed rutrum lorem, vel mattis orci.
        </p>
        <h3 class="h2" id="4">Duis neque neque</h3>
        <p>
            Duis neque neque, interdum sed turpis porta, aliquet scelerisque dolor. Vestibulum egestas est risus, nec elementum urna dictum sed. Proin tincidunt nec est vel dignissim. Mauris metus eros, congue id accumsan a, consequat sed felis. Pellentesque sed risus a urna gravida auctor. Nam at finibus arcu. Donec dictum sapien in vulputate consequat. Mauris dictum elementum sem, eu egestas lorem. Mauris ultricies pharetra diam, non sagittis neque gravida et.
        </p>
        <h3 class="h2" id="5">Phasellus nisi dui</h3>
        <p>
            Phasellus nisi dui, sagittis in vulputate ut, mollis eu est. Ut vehicula orci eu mi tincidunt pulvinar. Nam dapibus consectetur molestie. Mauris laoreet elit justo. Cras lobortis ornare dui at ultrices. Aenean lacinia interdum arcu, eget consequat tellus dignissim et. Praesent eget augue vitae magna malesuada gravida. Duis euismod nec sem in lacinia. Suspendisse potenti. Curabitur gravida, est vitae semper dignissim, erat est pretium nulla, a pellentesque magna arcu ac augue. Mauris a aliquam enim. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tempor metus id metus vehicula gravida.
        </p>
        <h3 class="h2" id="6">Aliquam erat volutpat</h3>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vel venenatis magna. Vestibulum
            hendrerit, neque in sagittis dictum, sem diam efficitur velit, eget ornare risus odio ut velit. Sed vel
            eros venenatis, suscipit dolor eget, dapibus dolor. Praesent sollicitudin volutpat velit sit amet condimentum.
        </p>
    </div>

    <div id="contents" class="navbar sticky-md-top navbar-light col-4 flex-column align-items-lg-end pl-2 ">
        <p class="h5 navbar-brand mx-3">Indice</p>
        <nav class="nav nav-pills flex-column">
            <a href="#1" class="nav-link " style="text-align: right">Titulo del curso</a>
            <a href="#2" class="nav-link " style="text-align: right">Aliquam erat volutpat</a>
            <a href="#3" class="nav-link " style="text-align: right">Nuram euismod urna nisl</a>
            <a href="#4" class="nav-link " style="text-align: right">Duis neque neque</a>
            <a href="#5" class="nav-link " style="text-align: right">Phasellus nisi dui</a>
            <a href="#2" class="nav-link " style="text-align: right">Aliquam erat volutpat</a>
        </nav>
    </div>
</div>