@model IEnumerable<server.Models.Course>

@{
    ViewData["Title"] = "Index";
}
<style>
    h1 { color: #FFFFFF; margin-left:32px; margin-top:168px}
    create {margin-left:32px}
    card {margin-left:32px}
</style>
<div class="col-md-12 body">
    <br/>
    <h1>Cursos</h1>
</div>
<div>
    <br/>

    <div class="container-fluid ">
        <div class="row mb-4">
            <div class="col-4">
                <a class="btn btn-primary" asp-action="Create">Crear un curso nuevo</a>
            </div>
        </div>

        <div class="row">
            @foreach (var course in Model)
            {
                <div class="col-3">
                    <div class="card mb-4" style="">
                        <div class="card-body">
                            <h5 class="card-title">@Html.DisplayFor(modelItem => course.Title)</h5>
                            <p class="card-text">@Html.DisplayFor(modelItem => course.Description)</p>
                            <a class="btn btn-primary" asp-action="Details" asp-route-id="@course.CourseID">Ver mas</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

</div>