@model IEnumerable<server.Models.Course>

@{
    ViewData["Title"] = "Index";
}
<div class="header-background">
    <div class="container-md align-items-end mb-2 h-100 d-flex">
        <div class="row">
            <div class="col">
                <h1 class="display-3" style="color: white"> Cursos</h1>
            </div>
        </div>
        <div class="row">

        </div>
</div>
    <div class="container-md pt-2 ">
        <div class="row mb-4">
            <div class="col-4">
                <a style="background:#643385" class="btn btn-primary" asp-action="Create">Crear un curso nuevo</a>
            </div>
        </div>

        <div class="row">
            @foreach (var course in Model)
            {
                <div class="col-3">
                    <div class="card mb-4" style="">
                        <div class="card-body">
                            <h5 class="card-title">@Html.DisplayFor(modelItem => course.Title)</h5>
                            <p class="card-text">@Html.DisplayFor(modelItem => course.Description)</p>
                            <a style="background:#643385" class="btn btn-primary" asp-action="Details" asp-route-id="@course.CourseID">Ver mas</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

</div>