.btn-primary{
    background-color: red;
}

.header-background {
    height: 16rem;
    background: linear-gradient(242.8deg, #8381BA -15.67%, #8D6CAB 45.14%, #643385 99.11%);
}

.wspl {
    white-space: pre-line;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}